@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-monserrat: "Montserrat", sans-serif;
  --backgroundColor-LightBlue1: #6ec1e4;
  --backgroundColor-LightBlue2: #1982c4;
  --backgroundColor-Orange: #ecbe52;
  --backgroundColor-Yellow: #ffca3a;
  --backgroundColor-Red1: #ed3f27;
  --backgroundColor-Red2: #ff595e;
  --backgroundColor-Green1: #70bf44;
  --backgroundColor-Green2:#8ac926;
  --backgroundColor-Violet1:#6a4c93;
}
* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  font-family: var(--font-monserrat);
}

.back-light-blue1{
  background-color: var(--backgroundColor-LightBlue1);
}

.back-light-blue2{
  background-color: var(--backgroundColor-LightBlue2);
}
.back-light-yellow{
  background-color: var(--backgroundColor-Orange);
}

.back-light-red1{
  background-color: var(--backgroundColor-Red1);
}

.back-light-orange{
  background-color: var(--backgroundColor-Red2);
}

.back-light-green1{
  background-color: var(--backgroundColor-Green1);
}

.back-light-green2{
  background-color: var(--backgroundColor-Green2);
}


header {

  height: 60vh;
  background-image: url("../assets/proyecto-hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header > nav > div > a > img {
  width: 5%;
  margin: 1em 0 !important;
}

header > nav > div > a {
  width: 100vw;
}

#barra-links {
  font-family: var(--font-monserrat);
  padding: 1.2em !important ;
  margin-top: 0.8em !important;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #ffffff;
}

#barra-links > div > div > ul > li > a {
  margin: 0 1.2rem !important;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 1.2px;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: transparent;
  transition: all 0.5s ease-in;
}

#barra-links > div > div > ul > li > a:hover {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff;
  transform: scale(1.2);
  font-weight: 900;
}

#barra-links > div > div > ul {
  margin: 0 auto !important;
}

.texto-header {
  width: max-content;
  margin-top: 10em !important;
}

.texto-header > h1 {
  color: #ffffff;
  font-family: var(--font-monserrat);
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
  background-color: var(--backgroundColor-Green1);
  margin: 1rem !important;
  padding: 0.5em !important;
}

.resumen {
  margin: 8em auto !important;
}

.resumen-texto>h2{
  padding-bottom: 1em !important;
  color: #2F2F2F;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0px;
}

.resumen-texto>p{
  color: #797979;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  letter-spacing: -0.18px;
  text-align: left;
}

.resumen > h2{
  color: #2f2f2f;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.54em;
  letter-spacing: 4.32px;
  padding: 1em !important;
  margin-bottom: 1em !important;
}

.resumen > p {
  color: #797979;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
}





.seccion-uno,
.seccion-dos,
.seccion-tres {
  color: white;
  padding: 54px 36px 48px 49px !important;
}



.seccion-uno > p,
.seccion-dos > p,
.seccion-tres > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.74em;
  letter-spacing: -0.14px;
  text-align: justify;
}

.contenedor-secciones {
  margin: 8em 0 !important;
}




/*==============================================*/
.seccion>h2{
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 3px;

}

/*==============================================*/
.banner-contactanos{
  background-color: #ED3F27;
  color:white;
  text-align: left;
  padding:4em 0 !important;
}

.banner-texto-contactanos>h2{

  font-size: 32px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 1em !important;
}

.banner-contactanos>p{

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 0px;
}

.banner-contactanos>div>a{
  height: fit-content;
  padding: 1em 2em !important;
  font-weight: 600;
transition: all 0.5s ease-in-out;
}

.banner-contactanos>div>a:hover{
 color:white;
 border: 1px solid white;
 background-color: transparent;
}

/*==============================================*/

.footer{
  background-color: #495052;
  text-align: left;

  height: max-content;
}

.foot{

  padding: 3em!important;
}

.footer>.foot>h2{
  color: #B3BBC1;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.33em;
  letter-spacing: 3.04px;
  margin-bottom: 2em!important;
}

.footer>.foot>p{
  color: #B3BBC1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.74em;
  letter-spacing: -0.14px;
}


.mapouter,
.nav-redes{
  margin: 1em auto!important;
 
}

.nav-redes{
  color: #B3BBC1;
  font-size: 1em;
  display: flex;
  justify-content: center;

}

.nav-redes>i{

margin:auto 0.5em!important;
font-size: 32px;
}

.gmap_canvas>iframe{
  width: 100%;
  height: 100%;
  margin: 0 auto!important;

}


/*==============================================*/

.banner-nosotros{
  background-color:#ecbe52;
  color:white;
  text-align: left;
  padding:5em 0 !important;
 }
 
 
 
 .banner-texto{
   padding:3em !important;
 }
 
 .banner-texto>h2{
   margin-bottom: 1em !important;
   font-weight: bolder;
 }
 
 .banner-texto>a{
   background-color: #ed3f27 !important;
   border: none;
   padding: 1em 2em !important;
   margin-top:2em !important;
 }
 
 .banner-imagen>img{
   width: 100%;
 }
 /*==============================================*/
 /*==============================================*/

.banner-colaborar>h2{
  text-transform: uppercase;
}

.banner-colaborar>p{
  margin:2em 0 !important;
}

.banner-colaborar>a{
  background-color: #70bf44 !important;
  padding:0.8em 1.5em !important;
  font-weight: 600;
  text-transform: capitalize;
  color: white !important;
  transition: all 0.5s ease-in-out;
}

.banner-colaborar>a:hover{
  background-color: #379d00 !important;

}

.seccion-colaborar{
  background-image: url(/assets/img8.jpg);
  height: 50vh;
  background-position: center;
  text-align: left;
}


/*==============================================*/